@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* colors */
$white: #fff;
$black: #000;
$lightGray: #f7f7f7;
$gray: #cbcbcb;
$stroke: #e4e4e4;
$darkGray: #5a5a5a;
$shadowDark: #0000002c;
$shadowHover: #00000079;
$blue: #4b9dea;

/* fonts */
$primaryFont: "Lato", sans-serif;
$secondaryFont: "Inter", sans-serif;

/* styles */
$transition: 0.3s;
